<div class="col-12" style="color: #2F2E41; font-size: 1.1rem; padding: 0.5rem 1rem 0.5rem 1rem; margin-top: 3rem;">
    <span>
      <a class="#" href="https://discord.com" target="_blank" style="text-decoration: none;"> 
        <i class="fa-brands fa-linkedin" style="color: #2F2E41; font-size: 2rem; padding: 0.5rem 0rem 0.5rem 0.5rem;"></i> 
      </a> 

      <a class="#" href="https://discord.com" target="_blank" style="text-decoration: none;"> 
        <i class="fa-brands fa-square-facebook" style="color: #2F2E41;  font-size: 2rem; padding: 0.5rem 0rem 0.5rem 0.5rem"></i> 
      </a> 

      <a class="#" href="https://discord.com" target="_blank" style="text-decoration: none;"> 
        <i class="fa-brands fa-square-instagram" style="color: #2F2E41;  font-size: 2rem; padding: 0.5rem 0rem 0.5rem 0.5rem"></i> 
      </a> 

      <a class="#" href="https://discord.com" target="_blank" style="text-decoration: none;"> 
        <i class="fa-brands fa-discord" style="color: #2F2E41;  font-size: 2rem; padding: 0.5rem 0rem 0.5rem 0.5rem"></i> 
      </a> 

      <a class="#" href="https://discord.com" target="_blank" style="text-decoration: none;"> 
        <i class="fa-brands fa-github" style="color: #2F2E41;  font-size: 2rem; padding: 0.5rem 0rem 0.5rem 0.5rem"></i> 
      </a> 
    </span>
    <div style="width: 100%; margin: 1rem 0rem 1rem 0rem;">
      Developed by <b>Beatriz Basa</b>
    </div>  
  </div>